/* 公共样式 */

.fl {
    float: left;
}

.fr {
    float: right;
}

@font-face {
    /*声明字体*/
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../fonts/icomoon.woff?7kkyc2') format('woff'), url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}


/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #c81623;
}

.spacer {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 8px 12px 0;
}


/* 顶部快捷导航栏 */

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}


/* header区域 */

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
}


/* a是行内元素没有大小所以需要转换为块元素 */

.logo a {
    display: block;
    width: 175px;
    height: 56px;
    background: url(../img/logo.png);
    /* 首行缩进然后溢出隐藏----淘宝页面的做法 */
    text-indent: -9999px;
    overflow: hidden;
    /* 直接font-size：0；就看不到文字-----京东的做法 */
}

.search {
    position: absolute;
    top: 25px;
    left: 348px;
}

.text {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #b1191a;
    padding-left: 10px;
    color: #cccccc;
}

.btn {
    float: left;
    width: 82px;
    height: 36px;
    background-color: #b1191a;
    border: none;
    font-size: 16px;
    color: #ffff;
    /* 取消蓝色的轮廓线 */
    /* outline: none; */
}

.hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}

.hotwords a {
    /* 外边距：上下   左右 */
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 34px;
    text-align: center;
}

.car {
    font-family: 'icomoon';
    color: #da5555;
}

.arrow {
    font-family: 'icomoon';
    margin-left: 5px;
}

.count {
    /* 加了定位的默认为行内块元素 */
    position: absolute;
    top: -5px;
    /* 应该左对齐，文字才能往右走 */
    left: 105px;
    background-color: #e60012;
    height: 14px;
    padding: 0 3px;
    /* 继承了父亲的行高,所以需要重新定义行高，行高等于高 */
    line-height: 14px;
    color: #ffff;
    /* border-radius: 左上角 右上角 右下角 左下角; */
    border-radius: 7px 7px 7px 0;
}


/* nav start  */

.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dorpdown {
    width: 209px;
    height: 45px;
    background-color: #b1191a;
}

.dorpdown .dt {
    height: 100%;
    background-color: #b1191a;
    color: #ffff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

.dorpdown .dd {
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.menu_item {
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    /* 如果一个盒子没有宽度加padding值不会撑大宽度 */
    padding: 0 10px;
    transition: all .5s;
}

.menu_item:hover {
    background-color: #ffff;
    padding: left 20px;
}


/* 鼠标经过li里面的a变颜色 */

.menu_item:hover a {
    color: #c81623;
}

.menu_item a {
    font-size: 14px;
    color: #fff;
}

.menu_item i {
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    color: #ffff;
}


/* 右侧导航 */


/* 布局字数不一样不能设置宽 大小应该给a 左右padding值撑开 */

.navitems {
    margin-left: 10px;
}

.navitems li {
    float: left;
}


/* a 属于行内元素没有大小所以需要转换 */

.navitems li a {
    display: block;
    /* 和父亲一样高 */
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
}


/* footer底部样式 */

.footer {
    height: 386px;
    background-color: #f5f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 79px;
    border-bottom: 1px solid #ccc;
}

.mod_service li {
    width: 240px;
    height: 79px;
    float: left;
}

.mod-service-icon {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) no-repeat;
    margin-left: 35px;
}

.mod_service-zheng {
    /* 浮点的盒子可以直接给大小不需要转换 */
    background-position: -253px -3px;
}

.mod_service_title {
    float: left;
    margin-left: 5px;
}

.mod_service_title h5 {
    margin: 5px 0;
}

.mod_service-kuai {
    background-position: -254px -55px;
}

.mod_service-bao {
    background-position: -257px -105px;
}

.mod_service-tes {
    background-position: -257px -155px;
}

.mod_service-xin {
    background-position: -257px -208px;
}

.mod-help {
    height: 187px;
    border-bottom: 1px solid #ccc;
}

.mod-help_item {
    float: left;
    width: 150px;
    padding: 2px 0 0 50px;
}

.mod-help_item dt {
    height: 25px;
    font-size: 16px;
}

.mod-help_item dd {
    height: 22px;
}

.mod-help-app dt,
.mod-help-app p {
    padding-left: 15px;
}

.mod-help-app img {
    margin: 7px;
}

.mod-copyright {
    text-align: center;
}

.mod-copyright-links {
    margin: 20px 0 15px 0;
}

.mod-copyright-info {
    line-height: 18px;
}